<!-- main right col -->
<div class="column col-sm-10 col-xs-11" id="main">

  <div class="padding">
    <div class="full col-sm-12 col-lg-12 col-md-12">

      <!-- content -->
      <div class="row">

        <!-- main col left -->
        <app-left-column></app-left-column>

        <!-- main col right -->
        <app-right-column></app-right-column>
      </div>
      <!--/row-->
      
      <app-footer></app-footer>

    </div><!-- /col-9 -->
  </div><!-- /padding -->
</div>
<!-- /main -->