
<!-- <div class="wrapper">
  <div class="box">
    <div class="row row-offcanvas row-offcanvas-left">
      <router-outlet></router-outlet>
      /main	 
 </div>
  </div>
</div> -->




<app-header></app-header>
<!-- <app-chat-window></app-chat-window>     -->
<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-12 col-xs-12 col-lg-12">
      
        <app-sidenav></app-sidenav>
     
      <div class='col-md-10 col-xs-10 col-lg-10'>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>