<div id="chatWindow">
    <div class="messageWrapper">
      <p class='myMessage'>Moja poruka.</p>
    </div>
    <div class="messageWrapper">
      <p class='othersMessage'>Username1: Necija tudja poruka. Necija tudja poruk</p>
    </div>
    
    <form action="#" method="post">
      <input type="text" id="tbMessage" placeholder="Something..." autofocus auocomplete='off'/>
      <input type="button" id='btnSendMessage' class="btnSend" value="Send"/>
    </form>
    <input type="button" id="btnGeolocation" class="btnSend" value="Send Location"/>
  </div>
  